@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #788BFF, #9BB1FF, #BFD7FF);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #788aff86;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #89A894;
    text-align: center;
    text-shadow: 1px 1px 0px #7c9886d4;
}

h2 {
    color: #1D2F6F;
}

p {
    text-align: justify;
}

